@CHARSET "ISO-8859-1";

html { height:100%; }
body { font-family:Arial,sans-serif;  height:100%;}

.maindiv1200 { position:relative; width:1400px; height:96%; margin: 0 auto; }
.contentdiv1200 { position:relative; padding:12px; margin-top:10px; width:98%;  height:77%; }
.bannerLeft { position:relative; float:left; vertical-align:middle; }
.bannerRight{ vertical-align:middle; }
.Trabajo { color:rgb(80,220,224); font-size:5em; }
.vernum {font-size:8pt;}

.shadowRounded {
  border-top:1px solid #888888; border-left:1px solid #888888; 
  box-shadow: 10px 10px 5px #888888;
  border-radius: 10px;
  padding:4px;
}

img #banner { width: 75%; height: 75% } 